[submodule "Linked-list"]
	path = Linked-list
	url = https://github.com/MahendraSondagar/Linked-list
[submodule "Stack"]
	path = Stack
	url = https://github.com/MahendraSondagar/Stack
[submodule "LookUp-Tables"]
	path = LookUp-Tables
	url = https://github.com/MahendraSondagar/LookUp-Tables
[submodule "Hash-Table"]
	path = Hash-Table
	url = https://github.com/MahendraSondagar/Hash-Table
[submodule "Binary-Tree"]
	path = Binary-Tree
	url = https://github.com/MahendraSondagar/Binary-Tree
[submodule "Searching"]
	path = Searching
	url = https://github.com/MahendraSondagar/Searching
[submodule "Searching-algo"]
	path = Searching-algo
	url = https://github.com/MahendraSondagar/Searching-algo
[submodule "Sorting-algo"]
	path = Sorting-algo
	url = https://github.com/MahendraSondagar/Sorting-algo
